<main class="container scroll">

  <div class="text">
    <h2>¡HOLA QUERIDO LECTOR!</h2>
    <br>
    <h3>Bienvenido a la Comunidad más grande de Lectores de TU Provincia</h3>
    <br>
    <h3>Intercambia tus Libros en mano con otros usuarios</h3>
  </div>

  <div class="container-fluid">
    <div class="row">
      <section class="col-8 px-0">
        <swiper-container appSwiper #swiper [config]="swiperConfig" thumbs-swiper=".mySwiper2"
          (slidechange)="slideChange($event)">
          <swiper-slide class="carrusel">
            <div *ngFor='let book of books1; let i = index'>
              <img src="{{ book.photo }}" alt="" />
              <p>{{ book.genre }}</p>
            </div>
          </swiper-slide>
          <swiper-slide class="carrusel">
            <div *ngFor='let book of books2; let i = index'>
              <img src="{{ book.photo }}" alt="" />
              <p>{{ book.genre }}</p>
            </div>
          </swiper-slide>
          <swiper-slide class="carrusel">
            <div *ngFor='let book of books3; let i = index'>
              <img src="{{ book.photo }}" alt="" />
              <p>{{ book.genre }}</p>
            </div>
          </swiper-slide>
        </swiper-container>
      </section>
    </div>
  </div>

  <!-- <app-libro-landing libro.foto="assets/ComoHacerQueTePasenCosasBuenas.jpg"></app-libro-landing> -->

</main>