/* - - - - FORMULARIO - - - - */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../assets/fondoPrincipal.png'); 
    background-size: cover; 
    background-position: center;
    height: 80vh;
    padding: 50px;   
}


form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    padding: 30px 40px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 5px 20px black;
    width: 600px;
}

    h2 {
        font-family: var(--titulo-fuente);
        font-size: var(--titulo-size);
    }

    .principal {
        display: flex;
        gap: 50px;
    }

        .izquierda {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .derecha {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

    .izquierda div,
    .derecha div {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

        form div input,
        form div select {
            text-align: center;
            border-radius: 5px;
            padding: 8px;
            border: 0;
            box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.5);
            background-color: var(--gris-claro);
            color: #757575;
        }

            input::placeholder,
            select::placeholder {
                font-family: var(--texto-fuente);
            }

        button {
            margin-top: 24px;
        }


/* - - - - INVALIDS - - - - */

.invalido {
    border: 1px solid red;
}

.mensajeInvalido div {
    color: red;
    font-size: 15px;
    text-align: start;
}

.btn-disabled:disabled {
    opacity: 0.2;
}


/* - - - - MODAL - - - - */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}