<div class="container">
    <form [formGroup]="myForm">
        <h2>Crear nueva cuenta</h2>
        <div class="principal">
            <div class="izquierda">
                <input type="text" placeholder="Nombre" formControlName="name" [ngClass]="{'invalido': (myForm.get('name').invalid && (myForm.get('name').dirty || myForm.get('name').touched))}">
                <div *ngIf="myForm.get('name').invalid && (myForm.get('name').dirty || myForm.get('name').touched)" class="mensajeInvalido">
                    <div *ngIf="myForm.get('name').errors.required">Campo obligatorio</div>
                </div>
    
                <input type="text" placeholder="Apellidos" formControlName="last_name" [ngClass]="{'invalido': (myForm.get('last_name').invalid && (myForm.get('last_name').dirty || myForm.get('last_name').touched))}">
                <div *ngIf="myForm.get('last_name').invalid && (myForm.get('last_name').dirty || myForm.get('last_name').touched)" class="mensajeInvalido">
                    <div *ngIf="myForm.get('last_name').errors.required">Campo obligatorio</div>
                </div>
    
                <input type="email" placeholder="Email" formControlName="email" [ngClass]="{'invalido': (myForm.get('email').invalid && (myForm.get('email').dirty || myForm.get('email').touched))}">
                <div *ngIf="myForm.get('email').invalid && (myForm.get('email').dirty || myForm.get('email').touched)" class="mensajeInvalido">
                    <div *ngIf="myForm.get('email').errors.required">Campo obligatorio</div>
                    <div *ngIf="myForm.get('email').errors.email">El email es incorrecto</div>
                </div>
    
                <input type="text" placeholder="Foto" formControlName="photo" [ngClass]="{'invalido': (myForm.get('photo').invalid && (myForm.get('photo').dirty || myForm.get('photo').touched))}">
                <div *ngIf="myForm.get('photo').invalid && (myForm.get('photo').dirty || myForm.get('email').touched)" class="mensajeInvalido">
                    <div *ngIf="myForm.get('photo').errors.required">Campo obligatorio</div>
                </div>
    
                <input type="text" placeholder="Provincia" formControlName="province" [ngClass]="{'invalido': (myForm.get('province').invalid && (myForm.get('province').dirty || myForm.get('province').touched))}">
                <div *ngIf="myForm.get('province').invalid && (myForm.get('province').dirty || myForm.get('province').touched)" class="mensajeInvalido">
                    <div *ngIf="myForm.get('province').errors.required">Campo obligatorio</div>
                    <div *ngIf="myForm.get('province').errors.provinciaInvalida">Provincia no válida</div>
                </div>
    
                <label for="availability-select">Seleccione la disponibilidad:</label>
                <select formControlName="availability" [ngClass]="{'invalido': (myForm.get('availability').invalid && (myForm.get('availability').dirty || myForm.get('availability').touched))}">
                    <option value="" disabled hidden></option>
                    <option value="Mañanas">Mañanas</option>
                    <option value="Tardes">Tardes</option>
                    <option value="Ambos">Ambos</option>
                </select>
                <div *ngIf="myForm.get('availability').invalid && (myForm.get('availability').dirty || myForm.get('availability').touched)" class="mensajeInvalido">
                    <div *ngIf="myForm.get('availability').errors.required">Campo obligatorio</div>
                </div>
            </div>
    
            <div class="derecha">
                <label for="genders-select">Seleccione los géneros de interés:</label>
                <div class="select-container">
                    <select formControlName="genres" multiple [ngClass]="{'invalido': (myForm.get('genres').invalid && (myForm.get('genres').dirty || myForm.get('genres').touched))}">
                        <option value="Terror">Terror</option>
                        <option value="Policiacas">Policiacas</option>
                        <option value="Astrología">Astrología</option>
                        <option value="Poesía">Poesía</option>
                        <option value="Fotografía">Fotografía</option>
                        <option value="Idiomas">Idiomas</option>
                    </select>
                    <div *ngIf="myForm.get('genres').invalid && (myForm.get('genres').dirty || myForm.get('genres').touched)" class="mensajeInvalido">
                        <div *ngIf="myForm.get('genres').errors.required">Campo obligatorio</div>
                    </div>
                </div>
                
    
                <input type="password" placeholder="Contraseña" formControlName="password" [ngClass]="{'invalido': (myForm.get('password').invalid && (myForm.get('password').dirty || myForm.get('password').touched))}">
                <div *ngIf="myForm.get('password').invalid && (myForm.get('password').dirty || myForm.get('password').touched)" class="mensajeInvalido">
                    <div *ngIf="myForm.get('password').errors.required">Campo obligatorio</div>
                    <div *ngIf="myForm.get('password').errors.minlength">La contraseña debe tener al menos 6 caracteres</div>
                    <div *ngIf="myForm.get('password').errors.pattern">La contraseña debe incluir al menos una letra mayúscula, un número y un carácter especial</div>
                </div>
    
                <input type="password" placeholder="Repetir contraseña" formControlName="password2" [ngClass]="{'invalido': (myForm.get('password2').invalid && (myForm.get('password2').dirty || myForm.get('password2').touched))}">
                <div *ngIf="myForm.get('password2').invalid && (myForm.get('password2').dirty || myForm.get('password2').touched)" class="mensajeInvalido">
                    <div *ngIf="myForm.get('password2').errors">La contraseña no coincide</div> 
                </div>
                <button class="btn-disabled btn-principal" (click)="register()" [disabled]="myForm.invalid">REGISTRARME</button>
            </div> 
        </div>
        

    </form>
</div>


<!-- Modal -->
<div class="modal" *ngIf="modal">
    <app-login></app-login>
</div>