<footer class="footer">
    <div class="footer-section about">
      <a href="#" style="font-family: 'Reem Kufi', sans-serif;">Acerca de Biblioteca Swap</a>
    </div>
    <div class="footer-section logo">
      <p style="font-family: 'Aclonica', sans-serif;">Biblioteca Swap <sup>®</sup></p>
      <div class="social-icons">
        <a href="#"><img src="assets/icons/instagram.png"></a>
        <a href="#"><img src="assets/icons/X.png"></a>
        <a href="#"><img src="assets/icons/linkedin.png"></a>
        <a href="#"><img src="assets/icons/github.png"></a>
      </div>
    </div>
    <div class="footer-section links">
      <a href="#" style="font-family: 'Reem Kufi', sans-serif;">Quiénes somos</a>
    </div>
  </footer>
  