<footer class="footer">
  <div class="footer-section about">
    <a routerLink="/acerca" style="font-family: 'Reem Kufi', sans-serif;">Acerca de Biblioteca Swap</a>
  </div>
  <div class="footer-section logo">
    <p style="font-family: 'Aclonica', sans-serif;">Biblioteca Swap <sup>®</sup></p>
    <div class="social-icons">
      <a href="https://www.instagram.com" target="_blank"><img src="assets/icons/instagram.png"></a>
      <a href="https://www.x.com" target="_blank"><img src="assets/icons/X.png"></a>
      <a href="https://www.linkedin.com" target="_blank"><img src="assets/icons/linkedin.png"></a>
      <a href="https://www.github.com" target="_blank"><img src="assets/icons/github.png"></a>
    </div>
  </div>
  <div class="footer-section links">
    <a routerLink="/sobre" style="font-family: 'Reem Kufi', sans-serif;">Quiénes somos</a>
  </div>
</footer>