main {
    height: 74.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gris-claro);
    background-size: cover;
    background-position: center;
}

.card{
    width: 27%;
    height: 80%;
    padding: 6vh;
    margin: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--rosa-claro);
    background-size: cover;
    background-position: center;
    border-radius: 40px;
    position: relative;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.cardReview{

}

.imgUser {
    width: 130px;
    border-radius: 50%;
    box-shadow: 5px 5px 20px var(--morado), inset -5px 0 10px -5px var(--morado);
}

.iconCard {
    width: 30px;
}