<app-header></app-header>

<main>

    <div class="card">

        <div class="cardUser">
            <img class="iconCard" src="../../../assets/icons/edit.png" alt="">
        </div>

        <div class="cardUser">
            <img class="iconCard" src="../../../assets/icons/eye-remove.png" alt="">
            <div *ngIf="user.hidden==true"></div>
            <img class="iconCard" src="../../../assets/icons/strikethrough.png" alt="">
        </div>

        <div class="cardUser">
            <img class="imgUser" src="../../../assets/icons/user2.png" alt="">
        </div>



    </div>

    <div class="card">



    </div>

</main>
