main {
    height: 74.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gris-claro);
    background-size: cover;
    background-position: center;
}

.libroBiblioteca {
    margin: 10px;
    width: 300px;
    height: 500px;
    border-radius: 10px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Reem Kufi', sans-serif;
    overflow: hidden;
    position: relative;
    background-color: #FAE9FF;
}

.top-buttons {
    position: absolute;
    top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.card {
    width: 27%;
    height: 88%;
    padding: 4vh;
    margin: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
    background-color: var(--morado-medio);
    background-size: cover;
    background-position: center;
    border-radius: 40px;
    position: relative;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.edit-btn,
.del-btn {
    background-color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.layer {
    position: relative;
}

.imgUser {
    width: 120px;
    border-radius: 50%;
    margin-bottom: 1vh;
    box-shadow: 5px 5px 20px var(--morado), inset -5px 0 10px -5px var(--morado);
}

.iconCard {
    width: 70%;
    object-fit: contain;
    /* width: 30px; */
}

.up {
    position: absolute;
    z-index: 1;
}

h2 {
    font-size: 1.6rem;
    font-family: var(--titulo-fuente);
    margin-top: .8vh;
}

h3 {
    font-size: 1.3rem;
    font-family: var(--titulo-fuente);
    margin-top: .8vh;
}

h4 {
    font-size: .8rem;
    font-family: var(--titulo-fuente);
}

.cardUser {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
}

.info {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoEstrella {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.6vh;
}

.infoEstrella span {
    font-size: 60px;
    color: #ccc;
}

.infoEstrella .filled {
    color: gold;
}

.estrella {
    color: #ccc;
    font-size: 25px;
}

.estrella.filled {
    color: gold;
}

.ambos {
    display: flex;
    width: 100%;
}

.infoLocal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.local {
    height: 50px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.icono {
    height: 70%;
    width: 100%;
    display: block;
}

.local p,
.prestados p {
    margin-top: 3px;
    font-size: 25px;
}

.prestados {
    height: 50px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.infoDispo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.disponible {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dispo {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.dispo img {
    width: 20%;
    display: block;
}

.disponible p,
.generos p {
    margin-top: 3px;
    font-size: 25px;
}

.generos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.gen {
    display: flex;
    align-items: center;
    gap: 5px;
}

.gen2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35px;
}

.gen2 img {
    height: 100%;
    width: 100%;
    display: block;
}

.sobre {
    border-radius: 10px;
    box-shadow: 5px 5px 20px var(--morado);
    background-color: var(--gris-claro);
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1vh;
    padding: 3vh 1.2vh;
}

.sobre p {
    margin-top: 1vh;
    font-size: 15px;
}

.cardReview {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px 0 30px;
}

.usuario {
    font-weight: bold;
}

.usuario span {
    font-size: 20px;
}