
<!-- <app-header></app-header> -->

<main class="container scroll">

  <div class="sobre">

    <div class="aboutWe">

      <h3>Sobre Nosotros</h3>
      <br>
      <h4>Bienvenidos a Biblioteca Swap</h4>
      <br>
      <p>
        En Biblioteca Swap creemos en el poder de los libros para conectar a las personas
        y enriquecer sus vidas.Nuestra plataforma nace de la pasión por la lectura y el deseo
        de compartir conocimientos, historias y experiencias con otros amantes de los libros.
      </p>
      <br>
      <h4>Nuestra Historia</h4>
      <br>
      <p>
        La idea de Biblioteca Swap surgió en 2024, cuando nuestros fundadores: Jesús Muñoz,
        Jonathan Ruiz, Queen y Judit Amate, se dieron cuenta de la cantidad de libros que
        tenían en casa sin uso, a la vez que buscaban nuevs títulos por explorar. La conclusión
        llegó rápidamente... Teníamos que crear un espacio dónde las personas pudieran compartir
        libros fácilmente y descubrir nuevas lecturas sin costo alguno.
      </p>
      <p>
        Así nació Biblioteca Swap, un lugar donde los lectores pueden:
      </p>
      <br>
      <ul class="usos">
        <li><span>Intercambiar Libros:</span>Encuentra a otros lectores interesados en intercambiar libros contigo.</li>
        <li><span>Descubrir Nuevas Lecturas:</span>Explora una variedad de géneros y títulos que otros usuarios están
        compartiendo.</li>
        <li><span>Conectar con una comunidad:</span>Únete a una comunidad de amantes de los libros que coparten tus
        intereses y pasión por la lectura.</li>
      </ul>
      <br>
      <h4>Nuestra Misión</h4>
      <br>
      <p>
        Fomentar la lectura y la riqueza cultural a través del intercamio de libros. Queremos
        hacer que la lectura sea accesible para todos, facilitando un espacio donde las personas
        puedan compartir y descubrir nuevos libros sin necesidad de comprarlos. 
      </p>
      <br>
      <h4>¿Cómo Funciona?</h4>
      <br>
      <ul class="usos">
        <li><span>Regístrate:</span> Crea una cuenta gratuita en nuestra plataforma.</li>
        <li><span>Publica tus libros:</span> Sube una lista de los libros que deseas intercambiar.</li>
        <li><span>Busca libros:</span> Explora las listas de otros usuarios y encuentra libros que te interesen.</li>
        <li><span>Intercambia:</span> Ponte en contacto con otros usuarios para coordinar el intercambio de libros.</li>
      </ul>
      <br>
      <h4>¿Por Qué Elegirnos?</h4>
      <ul class="usos">
        <li><span>Comunidad Activa:</span> Únete a una red de lectores apasionados.</li>
        <li><span>Fácil de Usar:</span> Nuestra plataforma es intuitiva y fácil de navegar.</li>
        <li><span>Acceso Gratuito:</span>Disfruta de todos los beneficios de nuestra plataforma sin costo alguno.</li>
        <li><span>Sostenibilidad:</span> Contribuye a un mundo más sostenible al reutilizar libros y reducir el desperdicio.</li>
      </ul>
      <br>
      <h3>Únete a Nosotros</h3>
      <br>
      <p>Si eres un amante de los libros y te encanta la idea de compartir tus lecturas y descubrir nuevas, Biblioteca Swap es el lugar perfecto para ti. Únete a nuestra comunidad hoy y empieza a intercambiar libros con personas de todo el mundo.</p>
      <br>
      <h3 style="color:var(--morado)">SOMOS CULTURA EN MOVIMIENTO</h3>
      <br>
      <h4>Contacto</h4>
      <br>
      <p>Si tienes alguna pregunta, comentario o sugerencia, no dudes en ponerte en contacto con nosotros a través de <a href="info@bibliotecaswap.com">Biblioteca Swap</a> o en nuestras redes sociales.</p>

    </div>

  </div>

</main>