.container {
    background-image: url('../../../assets/fondoPrincipal.png');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 80vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-snap-align: start;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--rosa-claro);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#6786F5, #9389F0);
    border-radius: 5px;
}

h3 {
    font-size: 2.5rem;
    font-family: var(--titulo-fuente);
    text-align: center;
}

h4 {
    font-size: 1.5rem;
    font-family: var(--titulo-fuente);
    text-align: center;
}

.sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5vw;
}

.aboutWe {
    width: 78%;
    height: 85%;
    font-family: var(--titulo-fuente);
    font-size: .7rem;
    padding: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--rosa-claro);
    background-size: cover;
    background-position: center;
    border-radius: 40px;
    position: relative;
    box-shadow: 5px 5px 20px var(--morado), inset -5px 0 10px -5px var(--morado);
}

.usos {
    display: flex;
    flex-direction: column;
    /*Elegir opción column o row*/
    justify-content: flex-start;
}

span {
    font-weight: bold;
}

p {
    text-align: center;
}

.admin {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2vh;
}

.perfil {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: var(--morado);
    margin: 2vh;
}

.imgAdmin {
    width: 120px;
    border-radius: 50%;
    margin-bottom: 1vh;
    box-shadow: 5px 5px 20px var(--morado), inset -5px 0 10px -5px var(--morado);
}