<header class="header">
  <div class="logo">
    <a routerLink="/">
      <img src="assets/icons/logowhite.png" alt="Logo">
    </a>
  </div>
  <nav class="nav" *ngIf="isLoggedIn">
    <ul>
      <li><a routerLink="/chat" style="font-family: 'Reem Kufi', sans-serif;">Chat</a></li>
      <li><a routerLink="/miBiblioteca" style="font-family: 'Reem Kufi', sans-serif;">Mi Biblioteca</a></li>
    </ul>
  </nav>
  <div class="auth-buttons" *ngIf="!isLoggedIn">
    <button class="login-button" style="font-family: 'Reem Kufi', sans-serif;" routerLink="/login">Login</button>
    <button class="register-button" style="font-family: 'Reem Kufi', sans-serif;" routerLink="/register">Registrar</button>
  </div>
  <div class="user-actions" *ngIf="isLoggedIn">
    <img src="assets/icons/cc.png" alt="Favorites" class="icon user-icon" routerLink="/favoritos">
    <img src="assets/icons/user.png" alt="User Profile" class="icon user-icon" routerLink="/perfil">
    <button class="logout-button" style="font-family: 'Reem Kufi', sans-serif;" (click)="logout()">Cerrar Sesión</button>
  </div>
</header>