<header class="header">
  <div class="logo-left" *ngIf="isLoggedIn">
    <a routerLink="/home">
      <img src="assets/icons/logowhite.png" alt="Logo White" />
    </a>
  </div>

  <div class="logo-center" *ngIf="!isLoggedIn">
      <img src="assets/icons/logolong.png" alt="Logo Long" />
  </div>

  <nav class="nav" *ngIf="isLoggedIn">
    <ul>
      <li><a routerLink="/chat">Chat</a></li>
      <li><a routerLink="/miBiblioteca">Mi Biblioteca</a></li>
    </ul>
  </nav>

  <div class="auth-buttons" *ngIf="!isLoggedIn">
    <button class="login-button" (click)="login()">Login</button>
    <button class="register-button" routerLink="/register">Registrar</button>
  </div>

  <div class="user-actions" *ngIf="isLoggedIn">
    <img src="assets/icons/cc.png" alt="Favorites" class="icon favorites-icon" routerLink="/favoritos" />
    <img src="assets/icons/user.png" alt="User Profile" class="icon user-icon" routerLink="/perfil" />
    <button class="logout-button" (click)="logout()">Cerrar Sesión</button>
  </div>

  <div class="modal-overlay" *ngIf="isLoginModalVisible">
    <app-login (closeModal)="hideLoginModal()" (loginSuccess)="handleLoginSuccess()"></app-login>
  </div>
</header>
