<!-- <header class="header">
  <div class="logo">
    <a routerLink="/">
      <img src="assets/icons/logowhite.png" alt="Logo">
    </a>
  </div>
  <nav class="nav" *ngIf="isLoggedIn">
    <ul>
      <li><a routerLink="/chat" style="font-family: 'Reem Kufi', sans-serif;">Chat</a></li>
      <li><a routerLink="/miBiblioteca" style="font-family: 'Reem Kufi', sans-serif;">Mi Biblioteca</a></li>
    </ul>
  </nav>
  <div class="auth-buttons" *ngIf="!isLoggedIn">
    <button class="login-button" style="font-family: 'Reem Kufi', sans-serif;" routerLink="/login">Login</button>
    <button class="register-button" style="font-family: 'Reem Kufi', sans-serif;" routerLink="/register">Registrar</button>
  </div>
  <div class="user-actions" *ngIf="isLoggedIn">
    <img src="assets/icons/cc.png" alt="Favorites" class="icon user-icon" routerLink="/favoritos">
    <img src="assets/icons/user.png" alt="User Profile" class="icon user-icon" routerLink="/perfil">
    <button class="logout-button" style="font-family: 'Reem Kufi', sans-serif;" (click)="logout()">Cerrar Sesión</button>
  </div>
</header> -->





<header>
    <ng-container *ngIf="isLoggedIn; else notLoggedIn">
      <div class="login">
        <div class="logo">
          <img src="assets/icons/logowhite.png" alt="Logo" routerLink="/">
        </div>

        <div class="login2">
          <nav>
            <a routerLink="/chat">CHAT</a>
            <a routerLink="/miBiblioteca">MI BIBLIOTECA</a>
          </nav>

          <div class="iconos">
            <img src="assets/icons/cc.png" alt="Favorites" routerLink="/favoritos">
            <img src="assets/icons/user.png" alt="User Profile" routerLink="/perfil">
          </div>

          <button (click)="logout()">CERRAR SESIÓN</button>
        </div>
      </div>
    </ng-container>


  <ng-template #notLoggedIn>
    <div class="logout">
      <div class="logolong">
        <img src="assets/icons/logolong.png" alt="Logo" routerLink="/">
      </div>
      <div class="botones">
        <button class="btn-principal" (click)="login()">Login</button>
        <button class="btn-principal" (click)="register()">Registrar</button>
      </div>
    </div>
  </ng-template>
</header>


<!-- Modal -->
<div class="modal" *ngIf="modal">
  <app-login></app-login>
</div>