
<main class="card">
    <form class="tarjeta" [formGroup]="form">
        <app-libro-biblioteca [book]="book"></app-libro-biblioteca>
        <div class="form">
            <h2>Añadir Libro</h2>
            
            <input class="Input-text" type="text" #title placeholder="Título" required formControlName="title" [ngClass]="{'invalido': (form.get('title').dirty || form.get('title').touched) && !form.get('title').valid}">
            <div *ngIf="(form.get('title').dirty || form.get('title').touched) && !form.get('title').valid" class="mensajeInvalido" >
                <div *ngIf="myForm.get('title').errors.required">Campo obligatorio</div>
            </div>

            <input class="Input-text" type="text" #author placeholder="Autor" required formControlName="autor" [ngClass]="{'invalido': (form.get('autor').dirty || form.get('autor').touched) && !form.get('autor').valid}">
            <div *ngIf="(form.get('autor').dirty || form.get('autor').touched) && !form.get('autor').valid" class="mensajeInvalido">
                <div *ngIf="myForm.get('autor').errors.required">Campo obligatorio</div>
            </div>

            <input class="Input-text" type="text" #gender placeholder="Género" required formControlName="gender" [ngClass]="{'invalido': (form.get('gender').dirty || form.get('gender').touched) && !form.get('gender').valid}">
            <div *ngIf="(form.get('gender').dirty || form.get('gender').touched) && !form.get('gender').valid" class="mensajeInvalido">
                <div *ngIf="myForm.get('gender').errors.required">Campo obligatorio</div>
            </div>

            <input class="Input-text" type="text" #photo placeholder="Url Foto" required formControlName="photo" [ngClass]="{'invalido': (form.get('photo').dirty || form.get('photo').touched) && !form.get('photo').valid}">
            <div *ngIf="(form.get('photo').dirty || form.get('photo').touched) && !form.get('photo').valid" class="mensajeInvalido">
                <div *ngIf="myForm.get('photo').errors.required">Campo obligatorio</div>
            </div>

            <button class="btn-disabled btn-principal" (click)="addBook(title.value, author.value, gender.value, photo.value)" [disabled]="form.invalid">AÑADIR</button>
        </div>
    </form>
</main>