
<main>

    <div class="tarjeta">

        <div class="libro">
            <app-libro-biblioteca [book]="book" [isAddBook]="true"></app-libro-biblioteca>
        </div>

        <form [formGroup]="form" (ngSubmit)="addBook()">
            <h2>Añadir Libro</h2>
            
            <input class="Input-text" type="text" #title placeholder="Título" formControlName="title" [ngClass]="{'invalido': (form.get('title').dirty || form.get('title').touched) && !form.get('title').valid}">
            <div *ngIf="(form.get('title').dirty || form.get('title').touched) && !form.get('title').valid" class="mensajeInvalido" >
                <div *ngIf="form.get('title').errors.required">Campo obligatorio</div>
            </div>

            <input class="Input-text" type="text" #author placeholder="Autor"  formControlName="author" [ngClass]="{'invalido': (form.get('author').dirty || form.get('author').touched) && !form.get('author').valid}">
            <div *ngIf="(form.get('author').dirty || form.get('author').touched) && !form.get('author').valid" class="mensajeInvalido">
                <div *ngIf="form.get('author').errors.required">Campo obligatorio</div>
            </div>

            <input class="Input-text" type="text" #gender placeholder="Género" formControlName="genre" [ngClass]="{'invalido': (form.get('genre').dirty || form.get('genre').touched) && !form.get('genre').valid}">
            <div *ngIf="(form.get('genre').dirty || form.get('genre').touched) && !form.get('genre').valid" class="mensajeInvalido">
                <div *ngIf="form.get('genre').errors.required">Campo obligatorio</div>
            </div>

            <input class="Input-text" type="text" #photo placeholder="Url Foto" formControlName="photo" [ngClass]="{'invalido': (form.get('photo').dirty || form.get('photo').touched) && !form.get('photo').valid}">
            <div *ngIf="(form.get('photo').dirty || form.get('photo').touched) && !form.get('photo').valid" class="mensajeInvalido">
                <div *ngIf="form.get('photo').errors.required">Campo obligatorio</div>
            </div>

            <input class="Input-text" type="text" #idioma placeholder="Idioma" formControlName="idioma" [ngClass]="{'invalido': (form.get('idioma').dirty || form.get('idioma').touched) && !form.get('idioma').valid}">
            <div *ngIf="(form.get('idioma').dirty || form.get('idioma').touched) && !form.get('idioma').valid" class="mensajeInvalido">
                <div *ngIf="form.get('idioma').errors.required">Campo obligatorio</div>
            </div>

            <button type="submit" class="btn-disabled btn-principal button" [disabled]="form.invalid">AÑADIR</button>
        
        </form>
        
    </div>

</main>