body {
    font-family: 'Reem Kufi', sans-serif;
    background-color: #f8f9fa;
    padding: 20px;
}

.edit-profile, .edit-preferences {
    background-color: #f0e6fa;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    height: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.header-title {
    font-family: 'Aclonica', sans-serif;
    color: #6a5acd;
    margin-bottom: 10px; 
}

.profile-picture {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto 10px; 
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.edit-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #6a5acd;
}

.name {
    font-size: 1.5em;
    margin: 10px 0;
}

.btn-custom {
    background-color: #9389F0;
    color: white;
    border: none;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 1.1em;
}

.btn-custom:hover {
    background-color: #7a71d8;
}

.btn-custom:active {
    background-color: #6761b8;
}

.edit-preferences .section-title {
    margin-top: 5px; 
    margin-bottom: 15px; 
}

.availability {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px; 
}

.availability .availability-option-group {
    display: flex;
    justify-content: center;
}

.availability-option {
    margin: 0 10px;
    position: relative;
}

.availability input[type="radio"] {
    display: none;
}

.availability-label {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid #4a4a4a;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.availability input[type="radio"]:checked + .availability-label {
    background-color: #E0AFFF;
    color: white;
    border: none;
}

.availability-label:hover {
    background-color: #E0AFFF;
    color: white;
}

.genres {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0; 
}

.genre-column {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 0 10px;
}

.genre-column label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.3em; 
}

.genre-column input[type="checkbox"] {
    transform: scale(1.8); 
    margin-right: 10px;
}

.genre-column i {
    margin-right: 8px;
}
