<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar Perfil</title>
  <link rel="stylesheet" href="editar-perfil.component.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
  <div class="container">
    <div class="main">
      <div class="edit-profile card">
        <h2 class="header-title">Editar Perfil</h2>
        <div class="profile-picture mx-auto text-center">
          <img [src]="profileForm.get('photo').value || 'https://picsum.photos/id/64/200/300'" alt="Profile Picture" id="profile-image-preview">
        </div>
        <h3 class="name text-center">{{ user?.name || 'Nombre' }} {{ user?.last_name || 'Apellido' }}</h3>

        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
          <div class="form-row">
            <div class="col-6">
              <input type="text" class="form-control mb-2" formControlName="name" placeholder="Nombre">
            </div>
            <div class="col-6">
              <input type="text" class="form-control mb-2" formControlName="last_name" placeholder="Apellidos">
            </div>
          </div>
          <div class="form-group">
            <select class="form-control mb-2" formControlName="province">
              <option value="" disabled selected>Provincia</option>
              <option *ngFor="let province of provinces" [value]="province">{{ province }}</option>
            </select>
          </div>
          <div>
            <input type="text" class="form-control mt-3" formControlName="photo" placeholder="URL de la foto de perfil">
          </div>
          <div class="form-group">
            <textarea class="form-control mb-2" formControlName="aboutMe" placeholder="Sobre mi"></textarea>
          </div>
          <div class="button-container">
            <button type="button" class="btn-custom">Cambiar Contraseña</button>
            <button type="submit" class="btn-custom">Actualizar</button>
        </div>
        </form>
      </div>

      <div class="edit-preferences card">
        <h2 class="header-title">Editar Géneros</h2>
        <form [formGroup]="preferencesForm" (ngSubmit)="onSubmitPreferences()">
          <div class="genres">
            <h3 class="section-title">GÉNEROS QUE TE GUSTAN</h3>
            <div class="genres-container">
              <div *ngFor="let genre of genres; let i = index" class="genre-column">
                <label>
                  <input type="checkbox" [formControl]="genresArray.at(i)"> <i class="fas fa-book"></i> {{ genre }}
                </label>
              </div>
            </div>          
          </div>

          <h3 class="section-title">Disponibilidad</h3>
          <div class="availability">
            <div class="availability-option">
              <input type="radio" id="mananas" formControlName="availability" value="Mañanas" [checked]="preferencesForm.get('availability').value === 'Mañanas'">
              <label for="mananas" class="availability-label">Mañanas</label>
            </div>
            <div class="availability-option">
              <input type="radio" id="tardes" formControlName="availability" value="Tardes" [checked]="preferencesForm.get('availability').value === 'Tardes'">
              <label for="tardes" class="availability-label">Tardes</label>
            </div>
            <div class="availability-option">
              <input type="radio" id="ambos" formControlName="availability" value="Mañana y Tardes" [checked]="preferencesForm.get('availability').value === 'Mañana y Tardes'">
              <label for="ambos" class="availability-label">Mañana y Tardes</label>
            </div>
          </div>
          <button type="submit" class="btn btn-custom">ACTUALIZAR</button>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="passwordModalLabel">Cambiar Contraseña</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="myForm" (ngSubmit)="changePassword()">
            <div class="form-group">
              <label for="currentPassword">Contraseña Actual</label>
              <input type="password" class="form-control" id="currentPassword" formControlName="currentPassword" placeholder="Contraseña Actual">
              <div *ngIf="myForm.get('currentPassword').invalid && (myForm.get('currentPassword').dirty || myForm.get('currentPassword').touched)" class="text-danger">
                La contraseña actual es requerida.
              </div>
            </div>
            <div class="form-group">
              <label for="newPassword">Nueva Contraseña</label>
              <input type="password" class="form-control" id="newPassword" formControlName="newPassword" placeholder="Nueva Contraseña">
              <div *ngIf="myForm.get('newPassword').invalid && (myForm.get('newPassword').dirty || myForm.get('newPassword').touched)" class="text-danger">
                La nueva contraseña debe tener al menos 6 caracteres y contener al menos una letra mayúscula, un número y un carácter especial.
              </div>
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirmar Nueva Contraseña</label>
              <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirmar Nueva Contraseña">
              <div *ngIf="myForm.hasError('passwordMismatch') && (myForm.get('confirmPassword').dirty || myForm.get('confirmPassword').touched)" class="text-danger">
                Las contraseñas no coinciden.
              </div>
            </div>
            <button type="submit" class="btn btn-custom" [disabled]="myForm.invalid">Cambiar Contraseña</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
