.search-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.filters {
  width: 100vw;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-family: var(--titulo-fuente);
}

.filters p {
  cursor: pointer;
}

.selected-filter {
  color: black;
  font-weight: bold;
}

.unselected-filter {
  color: gray;
}

.add {
  height: 80px;
  width: 80%;
  display: flex;
  justify-content: flex-end; 
  margin-right: 20px; 
}

.addbook-btn {
  border: none;
  border-radius: 50%;
  width: 70px;
  height: 70px; 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #FAE9FF;
}

.icon {
  width: 80%;
  object-fit: contain;
}

.search-input {
  font-family: var(--texto-fuente);
  width: 300px;
  padding: 10px;
  border-radius: 50px;
  border: 1px solid #ccc;
  font-family: 'Reem Kufi', sans-serif;
  background-color: var(--rosa-claro);
  margin-right: 40px;
}

.no-books-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.noLibro {
  font-family: var(--titulo-fuente);
  font-size: 50px;
  text-align: center;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.book-user-container {
  display: flex;
  flex-direction: row;
  width: calc(35% );
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-bottom: 20px;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: #f9f9f9;
  width: 50%;
}

.user-name {
  font-family: var(--titulo-fuente);
  font-size: 1.2em;
  font-weight: bold;
}

.user-date {
  font-family: var(--texto-fuente);
  font-size: 1em;
  color: #666;
}

.cont-charge {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.charge-btn {
  border-radius: 50%;
  background-color: white;
  border: none;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #FAE9FF;
}

.charge-btn .icon {
  width: 80%;
  object-fit: contain;
}