.scroll {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--gris-claro);
    background-size: cover;
    background-position: center;
    padding-top: 8vh;
    padding-bottom: 5vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-snap-align: start;
}

.favoritos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.book {
    margin-left: 2.5vh;
    margin-right: 2.5vh;
    margin-bottom: 3.5vh;
    box-shadow: 5px 5px 20px var(--morado), inset -5px 0 10px -5px var(--morado);
}

.libros {
    list-style-type: none;
}

.nulo {
    width: 100%;
    height: 81vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gris-claro);
}

.nuloP {
    color: red;
    font-size: 2rem;
    font-family: var(--titulo-fuente);
    font-weight: 100;
    letter-spacing: .1rem;
    margin: 1rem;
}

.icon {
    width: 70%;
    object-fit: contain;
  }

  .cont-charge {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .charge-btn {
    border-radius: 50%;
    background-color: white;
    border: none;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #FAE9FF;
  }

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--rosa-claro);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#6786F5, #9389F0);
    border-radius: 5px;
}