body {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
}

.scroll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--gris-claro);
    padding-top: 30px; /* Aumentar el padding-top */
    padding-bottom: 100px; /* Aumentar el padding-bottom para que el botón tenga más espacio */
    overflow-y: auto;
    position: relative;
}

.favoritos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 5vh;
}

.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.unList {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 20px;
    padding: 0;
}

.listItem {
    list-style: none;
    padding: 0;
}

.book {
    margin: 0 2.5vh 3.5vh;
    box-shadow: 5px 5px 20px var(--morado), inset -5px 0 10px -5px var(--morado);
    transition: transform 0.3s ease;
}

.book:hover {
    transform: scale(1.05);
}

.nulo {
    width: 100%;
    height: 81vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gris-claro);
}

.nuloP {
    color: red;
    font-size: 2rem;
    font-family: var(--titulo-fuente);
    font-weight: 100;
    letter-spacing: 0.1rem;
    margin: 1rem;
}

.icon {
    width: 70%;
    object-fit: contain;
}

.cont-charge {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.charge-btn {
    border-radius: 50%;
    background-color: white;
    border: none;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #FAE9FF;
}

.charge-btn:hover {
    transform: scale(1.1);
    background-color: #f4d2ff;
}

.charge-btn .icon {
    width: 80%;
    object-fit: contain;
}

.list {
    width: 100vw;
}

.unList {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 20px;
}

.listItem {
    list-style: none;
}