.scroll {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-snap-align: start;
    height: 100vh;
}

.favoritos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--gris-claro);
    background-size: cover;
    background-position: center;
    padding-top: 8vh;
    padding-bottom: 5vh;
}

.book {
    margin-left: 2.5vh;
    margin-right: 2.5vh;
    margin-bottom: 3.5vh;
    box-shadow: 5px 5px 20px var(--morado), inset -5px 0 10px -5px var(--morado);
}

.vistaLibros {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.libros {
    list-style-type: none;
}

.nulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nulo p {
    color: red;
    font-size: .9rem;
    font-weight: 100;
    letter-spacing: .1rem;
    margin: 1rem;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--rosa-claro);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#6786F5,#9389F0);
    border-radius: 5px;
}