<main class="scroll">

    <div class="favoritos">

        <ng-container class="nulo" *ngIf="books.length===0">
            <p class="nuloP">NO HAY LIBROS EN FAVORITOS</p>
        </ng-container>

        <ng-container class="libros" *ngFor="let book of books">

            <app-libro class="book" [book]="book" [isFavoritos]="true"></app-libro>

        </ng-container>

    </div>

    <div class="cont-charge">
        <button class="charge-btn" (click)="loadMore()">
            <img class="icon" src="assets/icons/carga.png">
        </button>
    </div>

</main>