<!--<div class="search-container">

    <input type="text" placeholder="Buscar" class="search-input">
    
    <button (click)="showFilters = !showFilters" class="filter-button">Filtros</button>
</div>
  
<app-filter-popup *ngIf="showFilters" (filterChange)="applyFilters($event)" (close)="closeFilters()"></app-filter-popup>
  
<div class="cards-container">
    <app-libro-biblioteca *ngFor="let book of filteredBooks" [book]="book"></app-libro-biblioteca>
</div>-->

<div class="home-container">
    <button (click)="showFilters = !showFilters">Toggle Filters</button>
    <div *ngIf="showFilters">
      <!-- Aquí irían los filtros -->
      <!-- Por ejemplo: <app-filters (applyFilters)="applyFilters($event)"></app-filters> -->
    </div>
  
    <div class="books-grid">
      <app-libro-landing *ngFor="let book of filteredBooks" [libro]="book"></app-libro-landing>
    </div>
  </div>