.no-books-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.noLibro {
  font-family: var(--titulo-fuente);
  font-size: 50px;
  text-align: center;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.filter-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  border-radius: 5px;
  margin: 20px;
}

.search-container {
  margin: 0 10px;
}

.search-input {
  font-family: var(--texto-fuente);
  width: 300px;
  padding: 10px;
  border-radius: 50px;
  border: 1px solid #ccc;
  font-family: 'Reem Kufi', sans-serif;
  background-color: var(--rosa-claro);
}

button {
  height: 40px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  align-content: center;
  background-color: #f1f1f1;
  margin: 0 10px;
}

button.active {
  background-color: rgb(51, 167, 239);
  color: white;
}

button:hover {
  background-color: #ddd;
}

.dropbtn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #f1f1f1;
  position: relative; 
}

.dropdown {
  position: relative; 
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 5px;
  border-radius: 5px;
  overflow: hidden;
  max-height: 150px;
  overflow-y: auto;
  width: 180px;
  top: 100%; 
  left: 0; 
}

.dropdown-content.show {
  display: block;
}

.dropdown-content label {
  display: block;
  padding: 10px;
}

.dropdown-content input {
  margin-right: 10px;
}

.cont-charge {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.charge-btn {
  border-radius: 50%;
  background-color: white;
  border: none;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #FAE9FF;
}

.charge-btn .icon {
  width: 80%;
  object-fit: contain;
}