
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.search-input {
  font-family: var(--texto-fuente);
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-family: 'Reem Kufi', sans-serif;
  background-color: var( --rosa-claro);
}

.filter-button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: rgb(51, 167, 239);
  font-family: var(--texto-fuente);
  color: white;
  cursor: pointer;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
