@import '~ngx-toastr/toastr';

:root {
    /* FUENTES */
    --titulo-fuente: "Aclonica";
    --texto-fuente: "Reem Kufi";

    /* TAMAÑOS */
    --titulo-size: 25px;
    
    /* COLORES PRINCIPALES */
    --azul: #6786F5;
    --azul-boton: rgb(51, 167, 239);
    --azul-boton-desabilitado: rgba(51, 167, 239, 0.25);
    --morado: #9389F0;
    --morado-medio: #9389F07D;
    --morado-claro: #8800FF1A;
    --rosa-claro: #FAE9FF;
    --gris-claro: #F4F4F4;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    text-decoration: none;
}


/* BOTONES */
.btn-principal {
    background-color: var(--azul-boton);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    margin: auto;
    font-family: var(--texto-fuente);
}

.btn-principal-disabled {
    background-color: var(--azul-boton-desabilitado);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    margin: auto;
    font-family: var(--texto-fuente);
}