
<main>
    <div class="tarjeta">
        <div class="libro" *ngIf="book">
            <app-libro-biblioteca [book]="book"></app-libro-biblioteca>
        </div>
  
      <form [formGroup]="form">
        <h2>Modificar Libro</h2>
        
        <input class="Input-text" type="text" placeholder="Título" formControlName="title" [ngClass]="{'invalido': (form.get('title')?.dirty || form.get('title')?.touched) && !form.get('title')?.valid}">
        <div *ngIf="(form.get('title')?.dirty || form.get('title')?.touched) && !form.get('title')?.valid" class="mensajeInvalido">
          <div *ngIf="form.get('title')?.errors?.required">Campo obligatorio</div>
        </div>
  
        <input class="Input-text" type="text" placeholder="Autor" formControlName="author" [ngClass]="{'invalido': (form.get('author')?.dirty || form.get('author')?.touched) && !form.get('author')?.valid}">
        <div *ngIf="(form.get('author')?.dirty || form.get('author')?.touched) && !form.get('author')?.valid" class="mensajeInvalido">
          <div *ngIf="form.get('author')?.errors?.required">Campo obligatorio</div>
        </div>
  
        <input class="Input-text" type="text" placeholder="Género" formControlName="genre" [ngClass]="{'invalido': (form.get('genre')?.dirty || form.get('genre')?.touched) && !form.get('genre')?.valid}">
        <div *ngIf="(form.get('genre')?.dirty || form.get('genre')?.touched) && !form.get('genre')?.valid" class="mensajeInvalido">
          <div *ngIf="form.get('genre')?.errors?.required">Campo obligatorio</div>
        </div>
  
        <input class="Input-text" type="text" placeholder="Url Foto" formControlName="photo" [ngClass]="{'invalido': (form.get('photo')?.dirty || form.get('photo')?.touched) && !form.get('photo')?.valid}">
        <div *ngIf="(form.get('photo')?.dirty || form.get('photo')?.touched) && !form.get('photo')?.valid" class="mensajeInvalido">
          <div *ngIf="form.get('photo')?.errors?.required">Campo obligatorio</div>
        </div>
  
        <input class="Input-text" type="text" placeholder="Idioma" formControlName="language" [ngClass]="{'invalido': (form.get('language')?.dirty || form.get('language')?.touched) && !form.get('language')?.valid}">
        <div *ngIf="(form.get('language')?.dirty || form.get('language')?.touched) && !form.get('language')?.valid" class="mensajeInvalido">
          <div *ngIf="form.get('idioma')?.errors?.required">Campo obligatorio</div>
        </div>
  
        <button class="btn-disabled btn-principal button" (click)="editBook()" [disabled]="form.invalid">EDITAR</button>
      </form>
    </div>
  </main>