<div class="libroBiblioteca">
  
  <figure class="imgn">
    <div class="marco">
      <img [src]="book.photo" [alt]="book.title">
    </div>
    
    <div class="info">
      <div class="title">{{ book.title }}</div><br>
      <div class="author">{{ book.author }}</div>
      <div class="gender">{{ book.genre }}</div>
    </div>
    
    <div class="statusb">
      <div class="status" [ngClass]="{'disponible': book.status, 'prestado': !book.status}">
        {{ book.status ? 'Disponible' : 'Prestado' }}
      </div>
    </div>
  
  </figure>

</div>